<div class="container">
  <h1>Edit Article</h1>
  <%= render 'form', article: @article %><br>
  <%= link_to "go to \"#{@article.title}\" article", article_path(@article) %>
  <hr>
  <%= link_to 'go to all articles', articles_path %>
</div>
